In [10]:
import numpy as np
import pandas as pd
from sklearn import model_selection, linear_model, feature_extraction, preprocessing

In [11]:
train_data = pd.read_csv (r'C:\Users\HP\Documents\notebook\DOWNLOADS\nlp-getting-started\train.csv')
train_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [12]:
test_data = pd.read_csv (r'C:\Users\HP\Documents\notebook\DOWNLOADS\nlp-getting-started\test.csv')
test_data.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [13]:
vector = feature_extraction.text.CountVectorizer()

In [14]:
train_vector = vector.fit_transform(train_data['text'])
test_vector = vector.transform(test_data['text'])

In [15]:
clf = linear_model.RidgeClassifier()

In [16]:
cross_Val = model_selection.cross_val_score(clf, train_vector, train_data['target'], cv =3, scoring ='f1')
cross_Val

array([0.59453669, 0.5642787 , 0.64082434])

In [17]:
clf.fit(train_vector, train_data['target'])

RidgeClassifier()

In [18]:
predictions = clf.predict(test_vector)

In [20]:
sample_submission = pd.read_csv (r'C:\Users\HP\Documents\notebook\DOWNLOADS\nlp-getting-started\sample_submission.csv')
sample_submission.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [21]:
sample_submission['target'] = predictions

In [25]:
output = pd.DataFrame(sample_submission)
output.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1

In [26]:
output.to_csv('NLP_submission', index = False)